:root {
  --bg-color-main: #aaa; /* var(--bg-color-main) */
  --bg-color-1: #222; /* var(--bg-color-1) */

  --main-font: sans-serif;/* var(--main-font) */
  --font-size: 16px;/* var(--font-size) */
  --main-color: #aaa;/* var(--main-color) */ /*color del logo de javascript*/
  --second-color: #222;/* var(--second-color) */
  --main-modal-color: rgba(#aaaaaa99);/* var(--main-modal-color) */
  --second-modal-color: rgba(#22222299);/* var(--second-modal-color) */
  --container-width: 1200px;/* var(--container-width) */
}

