/*Normalizaciones y resets*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family:'Times New Roman', Times, serif;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  /*overflow: hidden;*/
  scrollbar-width:auto;
  scroll-behavior: smooth;
  scrollbar-color: rgb(203, 203, 248) transparent;
  overflow: scroll;
  position: relative;
}

img{
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header, main{
  cursor:grab;
  position: relative;
  &:active{
    cursor:grabbing;
  }
}