#hamburger-btn {
  position: fixed;
  margin: 0;
  padding: 0.5rem;
  background-color: rgba(0, 0, 255, 0.5) !important;
  color: #222 !important;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: rgba(0, 0, 255, 0.9) !important;
    color: #aaa;
  }
}

.hidden_menu {
  display: none;
}

#grid_indice_completo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.menu {
  grid-column: 1/3;
  position: fixed;
  bottom: 0.5rem;
  z-index: 9;

  ul {
    li {
      a {
        color: #aaa;
      }

    }
  }
}

.sublista, .sublista_1 {

  ul {
    li {
      a {
        color: #aaa !important;
      }

    }
  }
}

#href_capitulo_1_1,
#href_capitulo_1_2,
#href_capitulo_1_3,
#href_capitulo_1_4,
#href_capitulo_1_5,
#href_capitulo_1_6,
#href_capitulo_2_1,
#href_capitulo_2_2,
#href_capitulo_2_3,
#href_capitulo_3_1,
#href_capitulo_3_2,
#href_capitulo_3_3,
#href_capitulo_3_4,
#href_capitulo_4_1,
#href_capitulo_4_2,
#href_capitulo_4_3,
#href_capitulo_4_4,
#href_capitulo_4_5,
#href_capitulo_4_6,
#href_capitulo_4_7,
#href_capitulo_5_1,
#href_capitulo_5_2,
#href_capitulo_5_3,
#href_capitulo_5_4,
#href_capitulo_5_5,
#href_capitulo_5_6,
#href_anexo_5_1,
#href_anexo_5_2,
#href_anexo_5_7A,
#href_anexo_5_7B,
#href_anexo_5_7C,
#href_anexo_5_8,
#href_anexo_5_11,
#href_anexo_5_12,
#href_anexo_5_13,
#href_anexo_5_14{
  color: #aaa !important;
}

#desplegable_capitulo_1,
#desplegable_capitulo_2,
#desplegable_capitulo_3,
#desplegable_capitulo_4,
#desplegable_capitulo_5,
#desplegable_anexo_5 {
  grid-column: 2/4;
}

#desplegable_capitulo_1 {margin-top: 3rem;}
#desplegable_capitulo_2 {margin-top: 3rem;}
#desplegable_capitulo_3 {margin-top: 3rem;}
#desplegable_capitulo_4 {margin-top: 3rem;}
#desplegable_capitulo_5 {margin-top: 3rem;}
#desplegable_anexo_5 {margin-top: 3rem;}

#indice_completo {
  background: rgba(0, 0, 0, 0.6);
  color: #ccc;
  width: 100vw;
  height: 100vh;
  position: fixed;
  bottom: 0;


  ul {
    margin-left: 1rem;
    list-style: none;
  }
}

button {
  background-color: transparent;
  border: none;
}

.icono_desplegable {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  color: #aaa;
  font-size: inherit;
  cursor: pointer;
}

.cruz {
  color: #aaa;
}

#hamburger-btn {
  z-index: 999;
  bottom: 1rem;
  right: 0.5rem;
  width: 2rem;
  height: 2rem;
  font-size: 0.5rem;
}

@media screen and (min-width: 576px) and (max-width: 991px) {
  #hamburger-btn {
    z-index: 999;
    bottom: 1rem;
    right: 0.8rem;
    width: 3.5rem;
    height: 3.5rem;
    font-size: 1rem;
  }

  #br_anexo_5{display: none;}
}

@media screen and (min-width: 992px) {
  #hamburger-btn {
    z-index: 999;
    bottom: 2rem;
    right: 2rem;
    width: 5rem;
    height: 5rem;
    font-size: 2rem;
  }

  .menu {
    grid-column: 1/2;
    top: 2rem;
  }
  #desplegable_capitulo_1,
  #desplegable_capitulo_2,
  #desplegable_capitulo_3,
  #desplegable_capitulo_4,
  #desplegable_capitulo_5,
  #desplegable_anexo_5 {
    grid-column: 2/3;
  }

  #desplegable_capitulo_1 {margin-top: 11rem;}
  #desplegable_capitulo_2 {margin-top: 12rem;}
  #desplegable_capitulo_3 {margin-top: 13rem;}
  #desplegable_capitulo_4 {margin-top: 14rem;}
  #desplegable_capitulo_5 {margin-top: 15rem;}
  #desplegable_anexo_5 {margin-top: 23rem;}

  #br_anexo_5{display: none;}
}