header {
  h2 {
    font-size: 0.8rem;
  }

  h3 {
    font-size: 0.6rem;
  }

  h1 {
    font-size: 1rem;
  }
}

#header-autor {
  font-size: 1rem;
}

#header-uni {
  font-size: 0.5rem;
  padding-top: 2rem
}

;

#header-prof {
  font-size: 0.5rem !important;
}

;

#header-director,
#header-ing1,
#header-ing2 {
  font-size: 0.8rem;
  font-weight: 400
}

;

#header-mag {
  font-size: 0.4rem
}

;

#header-rep {
  font-size: 0.5rem
}

;

#header-anio {
  font-size: 0.5rem;
  font-weight: 900 !important
}

;

#hamburger-btn {
  z-index: 999;
  bottom: 1rem;
  right: 0.5rem;
  width: 2rem;
  height: 2rem;
  font-size: 0.5rem;
}

.dark-theme-btn {
  z-index: 999;
  bottom: 4rem;
  right: 0.5rem;
  width: 2rem;
  height: 2rem;
  font-size: 0.5rem;
}

.scroll-top-btn {
  z-index: 999;
  bottom: 7rem;
  right: 0.5rem;
  width: 2rem;
  height: 2rem;
  font-size: 0.8rem;
}
/*
.hamburger-box svg {
  width: 80%;
  height: 80%;
  overflow: hidden;
}*/

.katex,
.katex-display {
  font-size: 0.8rem !important;
  /* Tamaño de fuente por defecto */
}

#moment_residual {
  font-size: 0.8rem !important;
}

main {
  font-size: 0.8rem;

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1rem;
  }
}

main section {
  padding: 1rem;
  width: 90%;
}

.section {
  padding: 0.5rem;
}

.section p {
  padding: 0.5rem 0.3rem;
  text-indent: 0.2rem;
}

#indice ul li {
  font-size: 0.8rem;
}

.sublista {
  font-size: 0.8rem;
}

#tabla_abreviaturas {
  td {
    font-size: 0.8rem;

    &:first-child {
      width: 5rem;
    }
  }
}

#simbolos {
  table {
    td {
      font-size: 0.8rem;

      &:first-child {
        width: 5rem;
      }
    }
  }
}

.tabla_general {
  font-size: 0.8rem;
}

.notas_al_pie {
  font-size: 0.6rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  padding: 0.5rem 0rem !important;
  p{
    width: 80%;
    text-indent: 0rem !important;
    margin: 0;
    padding: 0.2rem 0rem !important;
  }
  ul{
    width: 75%;
    padding: 0.2rem 0rem !important;
    list-style: disc;
  }
}

.title_notas_al_pie {
  text-decoration: underline;
  font-weight: bold;
}

.id_notas_al_pie {
  color: blue;
}

.nota {
  font-size: 0.6rem;
}

.subtitulos-figuras {
  font-size: 0.7rem;
}

@media screen and (min-width: 576px) and (max-width: 991px) {
  header {
    h2 {
      font-size: 1rem;
    }

    h3 {
      font-size: 0.8rem;
    }

    h1 {
      font-size: 1.2rem;
    }
  }

  #header-autor {
    font-size: 1.2rem;
  }

  #header-uni {
    font-size: 0.8rem;
    padding-top: 2rem
  }

  ;

  #header-prof {
    font-size: 0.8rem !important;
  }

  ;

  #header-director,
  #header-ing1,
  #header-ing2 {
    font-size: 1rem;
    font-weight: 400
  }

  ;

  #header-mag {
    font-size: 0.6rem
  }

  ;

  #header-rep {
    font-size: 0.8rem
  }

  ;

  #header-anio {
    font-size: 0.8rem;
    font-weight: 900 !important
  }

  ;

  #hamburger-btn {
    z-index: 999;
    bottom: 1rem;
    right: 0.8rem;
    width: 3.5rem;
    height: 3.5rem;
    font-size: 1rem;
  }

  .dark-theme-btn {
    z-index: 999;
    bottom: 5.5rem;
    right: 0.8rem;
    width: 3.5rem;
    height: 3.5rem;
    font-size: 1rem;
  }

  .scroll-top-btn {
    z-index: 999;
    bottom: 10rem;
    right: 0.8rem;
    width: 3.5rem;
    height: 3.5rem;
    font-size: 1rem;
  }

  .katex,
  .katex-display {
    font-size: 1rem !important;
    /* Tamaño de fuente por defecto */
  }

  #moment_residual span{
    font-size: 0.7rem !important;
  }

  #moment_residual {
    font-size: 1rem !important;
  }

  main {
    font-size: 1rem;

    h2 {
      font-size: 1.5rem;
    }

    h3 {
      font-size: 1.2rem;
    }
  }

  main section {
    padding: 2rem;
    width: 90%;
  }

  .section {
    padding: 0.8rem;
  }

  .section p {
    padding: 0.5rem 0.5rem;
    text-indent: 0.5rem;
  }

  #indice ul li {
    font-size: 1rem;
  }

  .sublista {
    font-size: 1rem;
  }

  #tabla_abreviaturas {
    td {
      font-size: 1rem;

      &:first-child {
        width: 7.5rem;
      }
    }
  }

  #simbolos {
    table {
      td {
        font-size: 1rem;

        &:first-child {
          width: 7.5rem;
        }
      }
    }
  }

  .tabla_general {
    font-size: 1rem;
  }

  .nota {
    font-size: 0.8rem;
  }

  .subtitulos-figuras {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 992px) {
  header {
    h2 {
      font-size: 1.5rem;
    }

    h3 {
      font-size: 1rem;
    }

    h1 {
      font-size: 2rem;
    }
  }

  header section {
    padding: 4rem;
    width: 60%;
  }

  #header-autor {
    font-size: 1.5rem;
  }

  #header-uni {
    font-size: 1rem;
    padding-top: 2rem
  }

  ;

  #header-prof {
    font-size: 1rem
  }

  ;

  #header-director,
  #header-ing1,
  #header-ing2 {
    font-size: 0.8rem;
    font-weight: 400
  }

  ;

  #header-mag {
    font-size: 0.8rem
  }

  ;

  #header-rep {
    font-size: 1rem
  }

  ;

  #header-anio {
    font-size: 1rem;
    font-weight: 900 !important
  }

  ;

  #hamburger-btn{
    z-index: 999;
    bottom: 2rem;
    right: 2rem;
    width: 5rem;
    height: 5rem;
    font-size: 2rem;
  }

  .dark-theme-btn {
    z-index: 999;
    bottom: 9rem;
    right: 2rem;
    width: 5rem;
    height: 5rem;
    font-size: 2rem;
  }

  .scroll-top-btn {
    z-index: 999;
    bottom: 16rem;
    right: 2rem;
    width: 5rem;
    height: 5rem;
    font-size: 2rem;
  }

  .katex,
  .katex-display {
    font-size: 1.2rem !important;
    /* Tamaño de fuente por defecto */
  }

  #moment_residual span{
    font-size: 0.9rem !important;
  }


  main section {
    padding: 4rem;
    width: 60%;
  }

  .section {
    padding: 2rem;
  }

  .section p {
    padding: 0.5rem 1.5rem;
    text-indent: 2rem;
  }

  main {
    font-size: 1rem;

    h2 {
      font-size: 1.5rem;
    }

    h3 {
      font-size: 1.2rem;
    }
  }

  #indice ul li {
    font-size: 1rem;
  }

  .sublista {
    font-size: 1rem;
  }

  #tabla_abreviaturas {
    td {
      font-size: 1.2rem;

      &:first-child {
        width: 10rem;
      }
    }
  }

  #simbolos {
    table {
      td {
        font-size: 1.2rem;

        &:first-child {
          width: 10rem;
        }
      }
    }
  }

  .tabla_general {
    font-size: 1rem;
  }

  .nota {
    font-size: 0.8rem;
  }

  .subtitulos-figuras {
    font-size: 0.9rem;
  }

}