
/*************** Dark Theme Button ***************/
.dark-theme-btn {
  position: fixed;
  border-radius: 50%;
  font-weight: bold;
  background-color: rgba(0, 0, 255, 0.5);
  color: #222;
  cursor: pointer;
  outline: 0;
  border: 0;
  transition: all 0.3s ease-out;
}

.dark-theme-btn:hover{
  background-color: var(--second-color);
  color: var(--main-color);
}

.dark-mode{
  background-color: #222;;
  color: #aaa !important;

  a:-webkit-any-link {
    color: inherit !important;
    text-decoration: none !important;
    &:hover{
      text-decoration: underline;
      color: #fff;
    }
  }
  .abreviatura{
    background-color: #444;
    &:hover{
      text-decoration: underline;
      color: #fff;
    }
  }
  .borde-top-tabla{
    border-top: 0.1rem solid #aaa;
  }
  
  .borde-bottom-tabla{
    border-bottom: 0.1rem solid #aaa;
  }
  #listado_referencias {
      &:hover {
        background-color: #444;
      }
  
      a {
        color: #aaa !important;
        &:hover{
          text-decoration: underline;
        }
    }
  }

  .resaltado{
    color: #000;
  }
}
/*
.borde-top-tabla{
  border-top: 0.1rem solid #aaa;
}

.borde-bottom-tabla{
  border-bottom: 0.1rem solid #aaa;
}*/