/*************** ScrollTopButton ***************/
.scroll-top-btn {
  position: fixed;
  border-radius: 50%;
  font-weight: bold;
  background-color: rgba(0, 0, 255, 0.5);
  color: var(--second-color);
  cursor: pointer;
  outline: 0;
  border: 0;
  transition: all 0.3s ease-out;
}

.scroll-top-btn:hover{
  background-color: var(--second-color);
  color: var(--main-color);
}

.hidden{
  visibility: hidden;
  opacity: 0;
}