#tabla_abreviaturas{
  border-collapse: collapse;
  td {
    border: none;
    padding: 0.3rem 0.8rem;
    &:first-child{
      font-weight: 700;
      text-align: right;
    }
    &:last-child{
      text-align: left;
    }
}
}

#simbolos{
  table{
    td{
      &:first-child{
        font-weight: 800;
        text-align: right;
        padding-right: 2rem;
      }
      &:last-child{
        text-align: left;
        padding-right: 2rem;
      }
    }
  }
}

.tabla_general {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0rem;
  padding: 0;
  tr{
    td{
      vertical-align: middle;
      text-align: center;
    }
    th{
      vertical-align: middle;
      text-align: center;
    }
  }
}
.tabla_general thead tr {
  /*background-color: #f2f2f2;*/
  text-align: left;
  font-weight: bold;
}
.tabla_general th, .tabla_general td {
  padding: 0.5rem;
}
/*
.tabla_2_1 th {
  background-color: #f2f2f2;
}*/
.nota {
  text-align: center !important;
  padding: 0rem 0rem 1.5rem 0rem !important;
  font-style: italic;
}

.borde-top-tabla{
  border-top: 0.1rem solid #000;
}

.borde-bottom-tabla{
  border-bottom: 0.1rem solid #000;
}

.resaltado{
  background-color: #ccc;
  color: #000;
}

.descripcion_tabla{
  text-align: center!important;
  font-weight: 800;
  width: 100% !important;
  padding-top: 1.5rem !important;
}

.tabla_ecuaciones, 
#moment_residual, 
#sigma_Z, 
#sigma_Y, 
#Phi11, 
#Phi22, 
#Phi12, 
#Phi26, 
#table_3_1, 
#table_3_2, 
#table_3_3, 
#table_3_4, 
#table_3_5, 
#table_3_6{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0rem;
  tr{
    td{
      vertical-align: middle;
      text-align: center;
      width: 15rem;
      scrollbar-width:thin;
      scroll-behavior: smooth;
      scrollbar-color: rgb(203, 203, 248) transparent;
      overflow: scroll;
      overflow-x: auto; /* Opcional: oculta el scroll horizontal si no es necesario */
      overflow-y: auto; /* Opcional: oculta el scroll horizontal si no es necesario */
      &:last-child{
        padding-left: 1rem;
      }
    }
  }
}

#table_3_1, #table_3_3{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 0rem;
  width: 90%;
  tr{
    td{
      vertical-align: middle;
      text-align: center;
      width: 20rem;
      }
    }
  }


#table_3_2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 0rem;
  /*scrollbar-width:thin;
  scroll-behavior: smooth;
  scrollbar-color: rgb(203, 203, 248) transparent;
  overflow: scroll;
  overflow-x: scroll;*/ /* Opcional: oculta el scroll horizontal si no es necesario */
  /*overflow-y: auto;*/ /* Opcional: oculta el scroll horizontal si no es necesario */
  margin: 1rem 0rem;
  width: 90%;
  font-size: 0.5rem !important;
  tr{
    td{
      vertical-align: middle;
      text-align: center;
      width: 20rem;
    }
  }
}

#table_3_4, #table_3_5, #table_3_6{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 0rem;
  scrollbar-width:thin;
  scroll-behavior: smooth;
  scrollbar-color: rgb(203, 203, 248) transparent;
  overflow: scroll;
  overflow-x: scroll; /* Opcional: oculta el scroll horizontal si no es necesario */
  overflow-y: auto; /* Opcional: oculta el scroll horizontal si no es necesario */
  margin: 1rem 0rem;
  width: 90%;
  font-size: 0.6rem;
  text-align: center;
  tr{
    td{
      vertical-align: middle;
      text-align: center;
      width: 20rem;
    }
  }
}

#table_3_2 tr td:last-child{
  width: 200rem !important;
  scrollbar-width:thin;
  scroll-behavior: smooth;
  scrollbar-color: rgb(203, 203, 248) transparent;
  overflow: scroll;
  overflow-x:auto; /* Opcional: oculta el scroll horizontal si no es necesario */
  overflow-y: auto; /* Opcional: oculta el scroll horizontal si no es necesario */
  height: 1rem !important;
}

#medicion_tencion{
  display: flex;
  flex-direction: column;
  align-items: center;
  li{
    width: 80%;
  }
}

#table_4_15, #table_4_3, #table_4_4, #table_4_6, #table_4_9, #table_4_12{
  font-size: 0.5rem !important;
}

#table_4_15{
  overflow:hidden !important;
  overflow-x: scroll !important; 
}

.tablas_cap_5, #table_6_1, #table_7_1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 0rem;
  scrollbar-width:thin;
  scroll-behavior: smooth;
  scrollbar-color: rgb(203, 203, 248) transparent;
  overflow: scroll;
  overflow-x: scroll; /* Opcional: oculta el scroll horizontal si no es necesario */
  overflow-y: auto; /* Opcional: oculta el scroll horizontal si no es necesario */
  margin: 1rem 0rem;
  width: 90%;
  font-size: 0.5rem !important;
  text-align: center;
  padding: 0;
  tr{
    padding: 0;
    td{
      padding: 0;
      vertical-align: middle;
      text-align: center;
    }
  }
}

progress{
  width: 2rem;
}

#table_7_1{
  font-weight: bold;
}

#ref_3_6, .scroll-bar{
  scrollbar-width:thin;
  scroll-behavior: smooth;
  scrollbar-color: rgb(203, 203, 248) transparent;
  overflow: scroll;
  overflow-x: scroll !important; /* Opcional: oculta el scroll horizontal si no es necesario */
  overflow-y: auto; /* Opcional: oculta el scroll horizontal si no es necesario */
}

@media screen and (min-width: 576px) and (max-width: 991px) {
  .tabla_ecuaciones, #moment_residual, #sigma_Z, #sigma_Y, #Phi11, #Phi22, #Phi12, #Phi26 {
    tr {
      td {
        width: max-content;
        overflow: visible;
        &:last-child{
          padding-left: 1.5rem;
        }
      }
    }
  }
  #table_3_2, #table_3_4, #table_3_5{
    font-size: 0.7rem !important;
  }
  #table_3_6{
    font-size: 1rem !important;
  }

  #table_4_15, #table_4_3, #table_4_4, #table_4_6, #table_4_9, #table_4_12{
    font-size: 0.7rem !important;
  }
  .tablas_cap_5, #table_6_1, #table_7_1{
    font-size: 0.6rem !important;
  }

  progress{
    width:auto;
  }
  
}

@media screen and (min-width: 992px) {
  .tabla_ecuaciones, #moment_residual, #sigma_Z, #sigma_Y, #Phi11, #Phi22, #Phi12, #Phi26 {
    tr {
      td {
        width: max-content;
        overflow: visible;
        &:last-child{
          padding-left: 2rem;
        }
      }
    }
  }
  #table_3_2, #table_3_4, #table_3_5, #table_3_6{
    font-size: 1rem !important;
  }
  progress{
    width:auto;
  }

}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  #table_4_15, #table_4_3, #table_4_4, #table_4_6, #table_4_9, #table_4_12{
    font-size: 0.8rem !important;
  }
  .tablas_cap_5, #table_6_1, #table_7_1{
    font-size: 0.8rem !important;
  }
}

@media screen and (min-width: 1201px) {
  #table_4_15, #table_4_3, #table_4_4, #table_4_6, #table_4_9, #table_4_12{
    font-size: 1rem !important;
  }
  .tablas_cap_5, #table_6_1, #table_7_1{
    font-size: 1rem !important;
  }
}

.tg  {
  border-collapse:collapse;
  border-spacing:0;
  width: auto !important;
  table-layout: fixed;
}
.tg col {width: auto !important;}
.tg td{
  border-color:black; 
  border-style:solid;
  border-width:1px;
  font-size:1rem;
  overflow:hidden;
  padding:0.7rem 0.2rem;
  word-break:normal;}
.tg th{
  border-color:black;
  border-style:solid;
  border-width:1px;
  font-size:1rem;
  font-weight:normal;
  overflow:hidden;
  padding:0.7rem 0.2rem;
  word-break:normal;}
.tg .tg-g7sd{
  border-color:inherit;
  font-weight:bold;
  text-align:left;
  vertical-align:middle}
.tg .tg-0lax{
  text-align:left;
  vertical-align:top}
.bold-centrado{
  font-weight: bold;
  text-align: center !important;
}
.tg-wrap {
  overflow-x: auto !important;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: column;
  align-items: center;
  scrollbar-width:thin;
  scroll-behavior: smooth;
  scrollbar-color: rgb(203, 203, 248) transparent;
  width: 100%;
}

.tg .tg-1wig{font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-uzvj{border-color:inherit;font-weight:bold;text-align:center;vertical-align:middle}
.tg .tg-0lax{text-align:left;vertical-align:top}

@media screen and (min-width: 992px){
  .tg  {
  width: 90% !important;
  }
}