#hamburger-btn {
  position: fixed;
  margin: 0;
  padding: 0.5rem;
  background-color: rgba(0, 0, 255, 0.5) !important;
  color: #222 !important;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: rgba(0, 0, 255, 0.9) !important;
    color: #aaa;
  }
}

.hidden_menu {
  display: none;
}

#grid_indice_completo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.menu {
  margin-top: 3rem;
  grid-column: 1/2;

  ul {
    li {
      a {
        color: #aaa;
      }

    }
  }
}

.sublista, .sublista_1 {

  ul {
    li {
      a {
        color: #aaa !important;
      }

    }
  }
}

#desplegable_capitulo_1,
#desplegable_capitulo_2,
#desplegable_capitulo_3,
#desplegable_capitulo_4,
#desplegable_capitulo_5,
#desplegable_anexo_5 {
  grid-column: 2/3;
}

#indice_completo {
  background: rgba(0, 0, 0, 0.6);
  color: #ccc;
  width: 100vw;
  height: 100vh;
  position: fixed;
  bottom: 0;


  ul {
    margin-left: 1rem;
    list-style: none;
  }
}

button {
  background-color: transparent;
  border: none;
}

.icono_desplegable {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  color: #aaa;
  font-size: inherit;
  cursor: pointer;
}

.cruz {
  color: #aaa;
}

#hamburger-btn {
  z-index: 999;
  bottom: 1rem;
  right: 0.5rem;
  width: 2rem;
  height: 2rem;
  font-size: 0.5rem;
}

@media screen and (min-width: 576px) and (max-width: 991px) {
  #hamburger-btn {
    z-index: 999;
    bottom: 1rem;
    right: 0.8rem;
    width: 3.5rem;
    height: 3.5rem;
    font-size: 1rem;
  }
}

@media screen and (min-width: 992px) {
  #hamburger-btn {
    z-index: 999;
    bottom: 2rem;
    right: 2rem;
    width: 5rem;
    height: 5rem;
    font-size: 2rem;
  }
}